/* Styles spécifiques du générateur de formulaires */
.form-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  /* Autres styles selon vos besoins */
  